body{
  font-family: 'Montserrat', sans-serif;
}

.auth-data__main{
  font-size:30px;
  margin-left: 50px;
}
.auth-data__header{
  margin-top: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  /* or 80% */

  letter-spacing: 0.1px;
  padding-left: 30px;
}
.form__input-field{
  width: 562px;
  height: 320px;
  border: transparent;
  background-color: #D9D9D9;
  font-size: 25px;
  margin-top: 30px;
}
.rating{
  margin-top: 20px;
  position: relative;
}

.form__submit-btn{
  background: #00FF38;
  border-radius: 16px;
  width: 348px;
  height: 60px;
  align-content: center;
  border: transparent;
}

.submit-btn__text{
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;
  /* identical to box height, or 80% */
  justify-content: center;
  display: flex;
  align-content: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.form-check-input{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYQavv18KeV14RZ0fiPIVm2UXJvuhYjGGO4jb-JJ_H&s) no-repeat;
  cursor: pointer;
  object-fit: contain;
}

.form__submit-btn{
  position: relative;
  background: #00FF38;
  border-radius: 16px;
  width: 348px;
  height: 60px;
  align-content: center;
  border: transparent;
}

.submit-btn__text{
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;
  /* identical to box height, or 80% */
  justify-content: center;
  display: flex;
  align-content: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.button__back{
  color:white;
  text-decoration: none;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
  width: 348px;
  height: 60px;
  font-weight: 500;
  font-size: 40px;
  /* identical to box height, or 80% */
  display: flex;
  letter-spacing: 0.1px;
  background: rgba(189, 0, 255, 0.5);
  margin-right: 10px;
}

.buttons{
  display: inline-flex;

}

.buttons__list{
  display: inline-flex;
}
.buttons__list, .courses-list{
  list-style-type: none;
  margin: 0;
  padding: 4px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.form__submit-btn {
  position: relative;
  background: #00FF38;
  border-radius: 16px;
  width: 348px;
  height: 60px;
  align-content: center;
  border: transparent;
  margin-bottom:20px;}

/*Mobile version styles*/
@media screen and (max-width: 1000px) {

  .form__input-field{
    width: 90%;
    max-width: 562px;

  }
}
