body{
  font-family: 'Montserrat', sans-serif;
}


.page-result__main{
  position: relative;
}
.result-data__main{
  font-size:30px;
  padding-left: 30px;
}
.result-data__header{
  margin-top: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  /* or 80% */

  letter-spacing: 0.1px;
  padding-left: 30px;
}
.result{
  margin-top: 30px;
  height: 300px;

}
.result__text{
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* or 200% */

  letter-spacing: 0.1px;

  color: #000000;
}

.button__profile{
  color:white;
  text-decoration: none;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
  width: 348px;
  height: 60px;
  font-weight: 500;
  font-size: 40px;
  /* identical to box height, or 80% */
  display: flex;
  letter-spacing: 0.1px;
  background: rgba(250, 0, 255, 0.5);
  margin-top: 30px;
  margin-left: 40px;
}



@media screen and (max-width: 1000px) {
  .result{
    margin-top: 30px;
    height: 90%;
  }
}

