body{
  font-family: 'Montserrat', sans-serif;
}

.page-signup__main{
  position: relative;
}

.auth-data__main{
  font-size:30px;
  padding-left: 30px;
}

.auth-data__header{
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  /* or 80% */

  letter-spacing: 0.1px;
  padding-left: 30px;
}

.form__input-field{
  width: 400px;
  height: 53px;
  border: transparent;
  background-color: #D9D9D9;
  font-size: 25px;
}

.form__submit-btn{
  margin-top: 20px;
  background: #00FF38;
  border-radius: 16px;
  width: 348px;
  height: 60px;
  align-content: center;
  border: transparent;
}

.submit-btn__text{
  font-weight: 500;
  font-size: 40px;
  line-height: 32px;
  /* identical to box height, or 80% */
  justify-content: center;
  display: flex;
  align-content: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
