body{
  font-family: 'Montserrat', sans-serif;
}


.test-lesson__main{
  position: relative;
}
.test-data__main{
  font-size:30px;
  padding-left: 50px;
}
.test-data__header{
  margin-top: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  /* or 80% */

  letter-spacing: 0.1px;
  padding-left: 30px;
}
.main__test{
  height:450px;
  margin-top: 50px;

}
.test__text{
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  /* or 200% */

  letter-spacing: 0.1px;

  color: #000000;
}

.button__back{
  background: rgba(189, 0, 255, 0.5);
}

.button__start{
  background: rgba(0, 255, 10, 0.5);
}

.buttons{
  margin-left: 50px;
}
.button__back, .button__start{
  color:white;
  text-decoration: none;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
  width: 348px;
  height: 60px;
  font-weight: 500;
  font-size: 40px;
  /* identical to box height, or 80% */
  display: flex;
  letter-spacing: 0.1px;
  margin-top: 30px;
}

/*Mobile version styles*/
@media screen and (max-width: 1000px) {
  .test__text{
    height:70%;
  }

}

